.container {
    padding: 20px;
    background-color: #F4F4FF;
}

.logs-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}