.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4ff;
    font-family: Arial, sans-serif;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    color: #293462;
    transition: background-color 0.3s ease;
}

button.active {
    background-color: #060665;
    color: #ffffff;
    border-radius: 20px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.project-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
}

.project-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.project-description {
    color: #666;
    font-size: 14px;
}

.project-details {
    margin-top: 10px;
}

.project-details>span {
    margin-right: 10px;
    color: #333;
    font-size: 14px;
}

.project-link {
    color: #007BFF;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: color 0.3s ease;
}